# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Package

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Gradle
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: build
      env:
        SKIPPY_PRIVATE_KEY: ${{ secrets.SKIPPY_PRIVATE_KEY }}
        SKIPPY_PRIVATE_KEY_SECRET: ${{ secrets.SKIPPY_PRIVATE_KEY_SECRET }}

    - name: Deploy release to Sonatype OSSRH (OSS Repository Hosting)
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: publish -PpublishToGradlePluginPortal=false
      env:
        OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        OSSRH_TOKEN_SECRET: ${{ secrets.OSSRH_TOKEN_SECRET }}
        SKIPPY_PRIVATE_KEY: ${{ secrets.SKIPPY_PRIVATE_KEY }}
        SKIPPY_PRIVATE_KEY_SECRET: ${{ secrets.SKIPPY_PRIVATE_KEY_SECRET }}

    - name: Deploy skippy-gradle to Gradle Plugin Portal
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: :skippy-gradle:publishPlugins -PpublishToGradlePluginPortal=true -Pgradle.publish.key=${{ secrets.GRADLE_PLUGIN_PORTAL_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PLUGIN_PORTAL_SECRET }}

    - name: Deploy skippy-gradle-android to Gradle Plugin Portal
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: :skippy-gradle-android:publishPlugins -PpublishToGradlePluginPortal=true -Pgradle.publish.key=${{ secrets.GRADLE_PLUGIN_PORTAL_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PLUGIN_PORTAL_SECRET }}